.user-list-container {
    
    width:20%;
    padding: 30px;
    height: 100%;
    border: 1px solid rgb(216, 214, 214);
    margin-top: 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 480px;
    overflow-y: auto;
    position: fixed;
    background: linear-gradient( rgb(167, 167, 167) ,#4f99ca,rgb(172, 169, 169) ) ;

  }
  .unread-messages {
    background-color: green;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid rgb(216, 214, 214);
    margin-top: 10px;
    background-color: white;
    width: 100%;
  }
  
  .user:hover {
    background-color: #e6e4e4;
  }
  
  .online-status {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  @media screen and (max-width:1300px) {
    .user-list-container {
      width: 25%;
    }
  }


  @media screen and (max-width:800px) {
    .user-list-container {
      width: 35%;
    }
  }
  @media screen and (max-width:600px) {
    .user-list-container {
      width: 45%;
    }
  }
  @media screen and (max-width:450px) {
    .user-list-container {
      width: 55%;
    }
  }