.user-list-container {
    width: 100%;
    padding: 30px;
    background: linear-gradient(#001830, #0c4870,rgb(136, 135, 135),rgba(68, 70, 102, 0.5) ) ;
    font-family: 'DM Serif Display', serif;
    animation: fondo 8s ease-in-out infinite;
    transition:box-shadow 3s ease;
    background-size: 100%  300%;
    height: 100%;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#1b1b1b, #0c4870,rgb(255, 255, 255),rgba(68, 70, 102, 0.5) ) ;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .user:hover {
    background-color: #7e7e7e;
  }
  
  .online-status {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
   
  @keyframes fondo {
    0% {
        background-position: 0 40%;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 40%;
    }
  }  @keyframes slideFromTop {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }