.fullscreen-modalM {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-comment-sectionM {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-sectionM {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0%;
  height: auto; /* Establece la altura del contenedor de la imagen y la galería */
  width:60%; /* Establece el ancho del contenedor de la imagen y la galería */
}

.image-gallery-contentM {
  height: 100% !important; /* Establece la altura de la galería al 100% */
}

.image-gallery-slideM img {
  max-height: 100%; /* Establece la altura máxima de la imagen al 100% */
  max-width: 100%; /* Establece el ancho máximo de la imagen al 100% */
}

.button-containerM {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  

  
}
.button-containerM  > button{
  font-size:14px;
}

.button-containerM  > .close{
  font-size:40px;
  position: absolute;
  right:  -500px;
  color: black;
  z-index: 99999;
}


.button-containerM  > button:hover{
  background-color: black ;
}
.button-containerM  > .close:hover{
  background-color: initial;
}
 
.comment-sectionM {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
