.publication-listPL {
   
  width: 100%;
  height: auto;
  padding: 30px;
background-color: white;  border-radius: 10px;
  margin: auto;
  box-shadow: 3px 5px 8px black;
  
}

.publicationPL {
  position: relative;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, transparent 100%);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(119, 119, 119);
}
.publication-authorPL {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.publicationPL> p{
  width: 100%;
  overflow-wrap: break-word;
  font-size: 15px !important;
}
.profile-imagePL {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.new-publication-formPL{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: white;  
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgb(119, 119, 119);

}
.new-publication-formPL > form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.new-publication-formPL  input{
  background-color: white;
  width: 80%;
  height: 40px;
  padding: 10px;
  border-radius: 9px;
  border: none;
  margin-right: 10px;
  border: 1px rgb(185, 185, 185) solid;
}
.new-publication-formPL  button{
  width: 20%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  height: 40px;
  border: none;
  border: 1px rgb(185, 185, 185) solid;


}
.new-publication-formPL  button:hover{
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: white;
}
.publication-listPL > h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.publicationPL h3 {
  color: #007bff;
  margin-top: 0;
}

.publicationPL p {
  font-size: 18px;
  margin-bottom: 10px;
}
.publicationPL > form {
  display: flex;
}
.publicationPL > form input{
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid rgb(180, 177, 177);
}

.publicationPL > form button{
  width: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.publication-datePL {
  color: #777;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.publication-userPL img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.options-buttonPL {
  position: absolute;
  right: 5%;
  top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.options-buttonPL:hover {
  background-color: #dfe2e6;
  border-radius: 50%;
}
.dropdown-menuPL {
  border-radius: 10px;
  display: none;
  min-width: 150px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 30px;
    background: linear-gradient(rgb(217, 217, 217), #6d889a, #cfd9e6, rgba(77, 167, 209, 0.5));

}

.dropdown-itemPL {
  color: #212529;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  text-align: inherit;
  white-space: nowrap;
  
  border: none;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  color: black;background-color: rgb(255, 255, 255);
}

.dropdown-itemPL:hover {
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: #16181b;
  text-decoration: none;
  color: white;

}

.options-buttonPL:focus .dropdown-menuPL {
  display: block;
}