.publication-listPL {
  position: relative;
  top: 100px;
  width: 100%;
  
}

.publicationPL {
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
  border: 1px  #000000;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(119, 119, 119);
  
}
.publication-authorPL {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-imagePL {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.new-publication-form{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
  border-radius: 8px;
}
.new-publication-form > form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.new-publication-form  input{
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 9px;
  border: solid 1px white;

}
.new-publication-form  button{
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgb(119, 119, 119);
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
  height: 40px;
  border: none;


}

.publicationPL h3 {
  color: #007bff;
  margin-top: 0;
}

.publicationPL p {
  font-size: 18px;
  margin-bottom: 0;
}
.reactionPL{
  position: relative;
  top: 30px;
   left: 170px;
}
.publication-datePL {
  color: #777;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.publication-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .publication-listPL {
    width: 90%;
  }
}
.options-button {
  position: absolute;
  top: 6%;
  right: 6%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  background: linear-gradient(rgb(217, 217, 217), #6d889a, #cfd9e6, rgba(77, 167, 209, 0.5));
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: none;
  min-width: 150px;
  padding: 4px 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  color: #212529;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 16px;
  text-align: inherit;
  white-space: nowrap;
}

.dropdown-item:hover {
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: #16181b;
  text-decoration: none;
  border-radius: 10px;

}

.options-button:focus .dropdown-menu {
  display: block;
}