.icon-containerLB {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50px;
  height: 100%;
  align-items: center;
  justify-content:center;
  background: linear-gradient( #0c4870,rgb(255, 255, 255,0.5) ) ;
}

.icon-containerLB a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.icon-containerLB img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.profile-image-containerLB {
  position: relative;
  display: inline-block;
}

.profile-image-containerLB .active {
  background-color: white;
}

.user-menuLB {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}
.user-menu-wrapperLB {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}
.user-menuLB a {
  display: block;
  margin-bottom: 5px;
}
.user-menuLB p {
  margin-bottom: 15px;
}
.icon-containerLB .active,
.icon-containerLB a:hover {
  background-color: rgb(252, 252, 252);
}