.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 170px; /* O el valor que corresponda a la altura del elemento fijo */

   
  }
  .gallery-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px; /* Si deseas agregar un espacio alrededor del contenido */
  }
  .profile-image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 20px;
    
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .large-profile-image {
    max-width: 100%;
    max-height: 100%;
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 800px;
    position: relative;
    
  }
  
  .modal-closeU {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(163, 163, 163) 0%, transparent 100%);
    padding: 2px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-closeU:hover {
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);

  }
  .modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }