.grid-containerP {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Asegurarse de que el contenedor ocupe toda la altura de la pantalla */
    margin: auto;
    background: linear-gradient(rgb(217, 217, 217), #6d889a, #cfd9e6, rgba(77, 167, 209, 0.5));
     
  }
  
  .headerP {
    flex: 0 0 auto; /* Ajusta el tamaño al contenido */
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  }
  
  .detailsP {
    display: flex;
    flex: 1; /* Ocupa todo el espacio restante en la dirección vertical */
    padding-left: 200px;
  }
  
  
  

  
  .contentP {
    flex: 0 0 80%;
    margin-top: 100px; /* O el valor que corresponda a la altura del elemento fijo */

  }

.content-switch > button {
  width: 20%;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  border: 3px solid white;
  font-family: 'DM Serif Display', serif;
}
.content-switch > button:hover{
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 992px) {
  .detailsP {
    padding-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .detailsP {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .detailsP {
    padding-left: 20px;
  }
}