.comment-sectionC {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 100%, transparent 100%);
  border-radius: 30px;
  box-shadow: 2px 8px 12px rgba(44, 43, 43, 1);
  overflow-y: auto;
}

.comment-sectionC .dropdown-toggle {
  font-size: 12px;
  background-color: transparent;
  color: #606770;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
}

.comment-sectionC .dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(128, 81, 81);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  margin-top: 5px;
  margin-left: -5px;
}

.comment-sectionC h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.comment-sectionC .post-owner {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.comment-sectionC .post-description {
  font-size: 14px;
  color: #606770;
  margin-bottom: 15px;
}

.comment-sectionC ul {
  list-style-type: none;
  padding: 0;
}

.comment-sectionC li {
  display: flex;
  align-items: flex-start;
  background-color: #f2f3f5;
  border-radius: 18px;
  padding: 10px 15px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  margin-left: 10px;
  margin-right: 10px;
}

.comment-sectionC li img {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.carousel .slide img{
  width: auto  !important;
  height: auto  !important;
  
}

 
.carousel .slide .comment-sectionC li > img{
  height: 30px  !important;
  width: 30px !important;
}
.comment-sectionC li .username {
  font-weight: bold;
  margin-right: 5px;
}

.comment-sectionC li .creation-time {
  font-size: 12px;
  color: #90949c;
  margin-left: auto;
}

.comment-sectionC input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid #ced4da;
  margin-top: 10px;
  background: linear-gradient(to bottom, rgb(182, 182, 182) 0%, transparent 100%);

}

.comment-sectionC input[type="text"]:hover{
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
}

.comment-sectionC input[type="text"]:active{
  background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
}
 
.comment-sectionC button {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: auto;
  font-size: 25px;
  color: black;
 
}

.comment-sectionC .comments-container {
  width: 95%;
  height: 330px;
  overflow-y: auto;
  
}
.comments-container li{
  box-shadow: 2px 8px 12px rgba(44, 43, 43, 0.5);

}
 
.comment-sectionC .update,
.comment-sectionC .delete {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  color: #606770;
  padding: 0;
  cursor: pointer;
}

.comment-sectionC .delete {
  right: auto;
  left: 5px;
}
.svg-inline--fa{
  width: 30px;
  
}
.comment-input-containerC {
  height: 50px;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 3px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* Ajustes responsivos para dispositivos con ancho menor o igual a 1024px */
@media (max-width: 1024px) {
  .comment-sectionC .comments-container {
    height: 320px; /* Reduzca la altura del contenedor de comentarios */
  }

  .comment-sectionC input[type="text"] {
    width: 100%;
  }
}

/* Ajustes responsivos para dispositivos con ancho menor o igual a 767px */
@media (max-width: 767px) {
  .comment-sectionC .comments-container {
    height: 70px; /* Valor reducido a la mitad */
  }

  .comment-sectionC input[type="text"] {
    width: 100%;
  }

  .comment-sectionC button {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .comment-input-containerC {
    height: 20px; /* Aumenta la altura del contenedor de entrada de comentario */
    padding: 5px;
  }
  .comment-sectionC {
    margin-top: -30px;
  }
}