.comment-sectionC {
  font-family: Arial, sans-serif;
  max-width: 100%; /* Asegúrese de que el contenedor principal tenga un ancho máximo del 100% */
  margin: 0 auto;
  padding: 16px; /* Agregue un padding al contenedor principal para darle espacio al contenido */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.comment-sectionC h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.comment-sectionC .post-owner {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.comment-sectionC .post-description {
  font-size: 14px;
  color: #606770;
  margin-bottom: 15px;
}

.comment-sectionC ul {
  list-style-type: none;
  padding: 0;
}

.comment-sectionC li {
  display: flex;
  align-items: flex-start;
  background-color: #f2f3f5;
  border-radius: 18px;
  padding: 10px 15px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  margin-left: 10px;
  margin-right: 10px;
}

.comment-sectionC li .username {
  font-weight: bold;
  margin-right: 5px;
}

.comment-sectionC li .creation-time {
  font-size: 12px;
  color: #90949c;
  margin-left: auto;
}

.comment-sectionC input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  border-radius: 18px;
  border: 1px solid #ced4da;
  margin-top: 10px;
  background-color: #97dbf7;
}

.comment-sectionC button {
  background-color: #1877f2;
  color: #fff;
  font-weight: bold;

  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: auto;
 
}

.comment-sectionC .comments-container {
  width: 95%;
  height: 330px;
  overflow-y: auto;
  
}

.comment-sectionC .update,
.comment-sectionC .delete {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  color: #606770;
  padding: 0;
  cursor: pointer;
}

.comment-sectionC .delete {
  right: auto;
  left: 5px;
}

.comment-input-containerC {
  height: 50px;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 5px;
}
/* Ajustes responsivos para dispositivos con ancho menor o igual a 1024px */
@media (max-width: 1024px) {
  .comment-sectionC .comments-container {
    height: 320px; /* Reduzca la altura del contenedor de comentarios */
  }

  .comment-sectionC input[type="text"] {
    width: 100%;
  }
}

/* Ajustes responsivos para dispositivos con ancho menor o igual a 767px */
@media (max-width: 767px) {
  .comment-sectionC .comments-container {
    height: 140px; /* Reduzca aún más la altura del contenedor de comentarios */
  }

  .comment-sectionC input[type="text"] {
    width: 100%;
  }

  .comment-sectionC button {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .comment-input-containerC {
    height: 40px; /* Aumenta la altura del contenedor de entrada de comentario */
  }
}