.grid-containerPG {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #fdfbfb;    
  box-shadow: 5px 5px 5px black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; 
  overflow-y: auto;}

  .content-switchPG > a.active {
    background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
    color:white;
    font-weight: bolder;

  }
  .containerPG {
    width: 75%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 9px 15px black;
    position: relative;
    
    background-color: white;
  }
  
 
  .detailsPG{
    width: 100%;
    margin: auto;
  }
  .grid-containerPG > .imgContainerUI{
    width: 75%;
    margin-top: 20px;
    box-shadow: 3px 5px 8px black;

  }
  .grid-containerPG > .publication-listPL {
      width: 75%;
      margin-top: 20px;

  }
  .grid-containerPG >.usercontent-containerCT {
    width: 80%;
    margin-top: 10px;
  }
  .grid-containerPG > .friendsPrincipalFP{
    width: 75%;
    margin-top: 20px;
    
  }
  .content-switchPG{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 5px 12px  black;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(#ffffff,rgb(179, 178, 178) ) ;
    position: relative;
    }
  .content-switchPG > a{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }

.content-switchPG > a:hover{
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: white;
}
.loader {
  margin: auto;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0c0c0c; /* Blue */
  border-radius: 50%;
 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 700px) {
  .grid-containerPG > .imgContainerUI{
    width: 100%;
 

  }
  .content-switchPG{
    display: flex;
    flex-direction: column;
  }
  .content-switchPG > a.active {
    
    width: 100%;
  }
  .content-switchPG > a:hover {
    width: 100%;
    
  }
  .containerPG{
    width: 100%;

  }
  .grid-containerPG > .publication-listPL {
    width: 100%;
    padding: 0;
  }
  .grid-containerPG{
    padding: 0;
  }
  .grid-containerPG >.usercontent-containerCT {
    padding: 0;
    width: 100%;
  }
  .grid-containerPG > .friendsPrincipalFP{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .grid-containerPG > .imgContainerUI{
    width: 100%;
  }
  .containerPG{
    width: 100%;

  }
  .grid-containerPG > .publication-listPL {
    width: 100%;
    padding: 0;
  }
  .grid-containerPG{
    padding: 0;
  }
}
 