.containerCT {
    display: flex;
    flex-direction: column;
        
  }
  
 
  .container-mainCT{
    padding-top: 100px;
    padding-left:50px;
    overflow-y: auto;

    
   }

   .leftBar-wrapperCT{
    padding-left:150px;
   }