.fullscreen-modalV {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .carousel .slide {
    background-color: transparent;
  }
  
  .carousel .control-next.control-arrow:before,
  .carousel .control-prev.control-arrow:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid white;
  }
  
  .carousel .control-next.control-arrow:before {
    border-left: 8px solid white;
  }
  
  .closeV {
    position: absolute;
    top: 15px;
    right: 15  px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  
  .video-comments-wrapper {
    display: flex;
    width: 100%;
  }
  
  .video-container {
    position: relative;
    width: 60%;
  }
  
  .comments-container {
    width: 35%;
    margin-left: 5%;
  }
  
  .delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .comment-sectionV {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }
  /* Estilos responsive */
@media (max-width: 1024px) {
    .video-container {
      width: 100%;
    }
  
    .comments-container {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .video-container {
      width: 100%;
    }
  
    .comments-container {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .video-container {
      width: 100%;
    }
  
    .comments-container {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }