.icon-containerLB{
    display: flex;
    flex-direction: column;
    background-color: red;
    position: fixed;
    width: 50px;
    height: 100%;
    z-index: 999;
    align-items: center;
    justify-content:flex-start;
    background: linear-gradient(#1b1b1b, #0c4870,rgb(255, 255, 255),rgba(68, 70, 102, 0.5) ) ;
    background-size: 100%  300%;
    animation: fondo 8s ease-in-out infinite;
    font-family: 'DM Serif Display', serif;

}
@keyframes fondo {
    0% {
        background-position: 0 40%;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 40%;
    }
  }  @keyframes slideFromTop {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.icon-containerLB >i {
    margin-top: 70px;
    cursor: pointer;
}