 
  .usercontent-mainCT{
    display: flex;
    margin: auto;
    width: 100%;
    padding: 10px 30px 30px 30px;
 }
.usercontent-mainCT > .usercontent-containerCT {
  width: 70%;
  margin: auto;
}
.usercontent-containerCT{
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: white;
}
.usercontent-detailsCT{
  width: 30%;
   margin-right: 10px;
}
  .usercontent-listCT {
    list-style-type: none;
    padding: 0;
    }
  
  .usercontent-itemCT {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 8px 12px rgba(44, 43, 43, 1);
   }


  .profile-imageCT{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    
   }
  .optionsCT{
    position: absolute;
    right: 4%;
    top:5%;
    cursor: pointer;
  }
 .options-containerCT{
    position: absolute;
    right:7%;
    top: 7%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(217, 217, 217), #6d889a, #cfd9e6, rgba(77, 167, 209, 0.5));
    padding: 4px;
    

 }
 .options-containerCT > button{
  border: none;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  color: black;
  background-color: white;

 }
 .options-containerCT > button:hover{
  background: linear-gradient(to bottom, rgb(34, 34, 34) 0%, transparent 100%);
  color: white;
 }
  .usercontent-image-containerCT,
  .usercontent-video-containerCT {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
  }
  .usercontent-edit-inputCT{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  .usercontent-save-btnCP{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .usercontent-imageCT {
    position:relative;
    height:auto;
    max-width: 300px;
    max-height: 300px;
    width:100%;
    cursor: pointer;
    object-fit: cover;
  }
  .usercontent-video-containerCT > .usercontent-videoCT {
    position: relative;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    cursor: pointer;
    object-fit: contain;
  }
  
  .usercontent-publication-containerCT{
    background-color: #f8f9fa;
    padding: 20px;

  }
  .container-userCT{
    display: flex;
    align-items: center;
    padding: 20px;
   
  }
  .usercontent-publication-containerCT > form{
    display: flex;
    width: 100%;
  }
/*
  .usercontent-containerCT .infoUserCF > .profile-usernameCF{
    position: absolute;
    margin-top: 8px;
    font-size: 12px;
    left: 14%;
    font-weight: bolder;
  } */
  .usercontent-containerCT  .commentFileCT  .comment-sectionCF .infoUserCF  .profile-usernameCF{
    position: absolute;
    margin-top: 8px;
    font-size: 12px;
    left: 45px;
    font-weight: bolder;
  } 
  .profile-usernameCT{
    font-size: 15px;
    
  }
  .usercontent-publication-containerCT h3 {
    margin-bottom: 0;
  }
  
  .usercontent-publication-containerCT p {
    margin-bottom: 10px;
   }
  .usercontent-descriptionCT {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 15px;
    padding: 10px;
    color: #030303;
    border-bottom: 1px solid rgb(194, 177, 177);
    word-wrap: break-word;
    word-break: break-word;
  }
  .usercontent-publication-containerCT > .reactionCT{
    padding-top: 10px;
    padding-bottom: 10px;
   
  }
  
  .usercontent-publication-dateCT {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    display: block;
  }
  .commentFileCT{
    position: relative;
    width: 100%;
    max-height: 260px;
    height:auto;
    padding-bottom: 10px;

  }
  
  .usercontent-itemCT  .commentFileCT  > .comment-sectionCF {
    position: relative;
    max-height: 250px;
    width: 100%;
    text-align: center;
    height:auto;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
  } 

  .reactionCT{
    padding: 30px;
  }
  .usercontent-itemCT  .commentFileCT  > .comment-sectionCF  .dropdown-toggle {
    top: 10px;
    right:  20px;
  }
  .usercontent-itemCT .commentFileCT > .comment-sectionCF > .comment-infoCF {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 15px;
    width: 100%;
    border-bottom: 1px rgb(185, 185, 185) solid;
  }
  .usercontent-itemCT .commentFileCT > .comment-sectionCF > .comment-infoCF > .post-ownerCF,
  .usercontent-itemCT .commentFileCT > .comment-sectionCF > .comment-infoCF > .postImageCF,
  .usercontent-itemCT .commentFileCT > .comment-sectionCF > .comment-infoCF > .post-descriptionCF {
  display: none;
}
 
  .usercontent-itemCT  .commentFileCT > .comment-sectionCF > .comments-containerCF {
    height: auto;
    max-height: 145px;
    width: 100%;
    background-color: white;
  } 
  .usercontent-itemCT  .commentFileCT > .comment-sectionCF > .comment-input-containerCF{
    position: absolute;
 
  }

  .usercontent-itemCT  .commentFileCT > .comment-sectionCF input[type="text"] {

    border-radius: 5px;
    background: white;
    border: 1px rgb(185, 185, 185) solid;
     width: 100%;

}

 
@media (max-width:800px) {
  .usercontent-mainCT{
   flex-wrap: wrap;
   width: 100%;
    
 }
.usercontent-mainCT > .usercontent-containerCT {
  width: 100%;
  margin: auto;
  height: auto;

}

.usercontent-detailsCT{
  width:100%;
  margin-bottom: 10px;
  margin-right: 0;
}
}

  @media (max-width: 768px) {
    .usercontent-publication-containerCP {
      width: 90%;
    }
    .usercontent-itemCT {
      padding: 0;
    }
  }
  

  @media  screen and (max-width: 600px) {

    .optionsCT{
      position: absolute;
      right: 7%;
      top:3%;
      cursor: pointer;
    }
    .usercontent-containerCT {
      padding: 0px;
  
    }
    .usercontent-itemCT .commentFileCT > .comment-sectionCF input[type="text"]  {
      width: 80%;
    }
    .usercontent-itemCT .commentFileCT > .comment-sectionCF{
      width: 100%;
      padding: 15px;
    }
  }