@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

.logoM span:nth-child(1) {
  position: relative;
  color: black;
  font-size: 40px;
  font-weight: 900;
  text-shadow: white -5px 0px;
  top: 2px;

}

.logoM span:nth-child(2) {
  font-weight: 900;
  position: relative;
  color: black;
  font-size: 40px;
  top: 15px;
  left: -5px;
  text-shadow: white -5px 0px;
}

.logoM span:nth-child(3) {
  font-weight: 900;
  position: relative;
  color: black;
  font-size: 40px;
  top: 35px;
  left: -50px;
  text-shadow: white -5px 0px;
}

.logoM > p > .primero {
  margin-left: 25px;
}

.logoM > p {
  position: relative;
  left: -48px;
  top: -19px;
  letter-spacing: 0.5em;
  color: white;
}
 
@keyframes check {
    0%{
     
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        
        transform: scale(1);
    }
    
}
.topBar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    width: 100%;
    background: linear-gradient( #0c4870,rgb(255, 255, 255) ) ;
    height: auto;
    font-family: 'DM Serif Display', serif;
    background-size: 100%  150%;
    transition:box-shadow 3s ease;
    padding-left: 30px;

 }
 .topBarExp{
  width: 20%;
  font-size: 1em;
 }
.topBarExp > a{
  text-decoration: none;
}
.topBar > .buscador {
  padding:30px;
  position: relative;
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
  align-items: center;
} 
.topBar > .buscador  .userSearch-textUS > input{
   width:100%;
  padding: 10px;
  border-radius: 20px;
}
.topBar > .buscador .userSearch-textUS{
  position: relative;
}
.topBar > .buscador .userSearch-textUS > button{
  position: absolute;
  background-color: transparent;
  border: none;
  right: 15px;
  top:10px
} 
.topBar  .iconT {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  height: auto;
  padding:40px;
  
}

.topBar  .iconT > .perfil{
 
   width: 40px;
   background-color: rgb(0, 0, 0);
   height:40px;
   border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropdown {
    position: absolute;
    right: 10px;
    top: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .topBar > .buscador .userSearch-textUS > button{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    cursor: pointer;
  }
  .dropdown button {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    color: #3d7bbd;
  }
.logoM {
  position: relative;
  padding-left: 90px;
  width: 60%;
  height: 100px;
 
  cursor: pointer;
}

.logoM:hover {
  color: red;
  animation: check 1s ease-in-out infinite;
}


 @keyframes slideFromTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.userSearchUS + button{
  display: none;
  
}
@media screen and (max-width: 800px) {
  .topBar > .buscador .userSearch-textUS > input{
    padding: 5px;
    width: 100%;
  }
  
  .userSearchUS + button{
    display: block;
  }
  .logoM span:nth-child(1) {
    color: black;
    font-weight: 600;
    text-shadow: white -5px 0px;
    font-size: 30px;
    bottom:2px;

  }
  
  .logoM span:nth-child(2) {
    font-weight: 900;
    position: relative;
    color: black;
    font-size: 30px;
    margin-top: 120px;
    text-shadow: white -5px 0px;
  }
  
  .logoM span:nth-child(3) {
    font-weight: 900;
    position: relative;
    color: black;
    font-size: 30px;
    top: 28px;
    left: -40px;
    text-shadow: white -5px 0px;
  }
  
  .logoM > p > .primero {
    position: relative;

  }
  .logoM{
    padding-top: 10px;
  }
  .logoM > p {
    position: relative;
    letter-spacing: 5px;
    color: white;
    margin-top: 5px;
    margin-left: 8px;

  }
  .topBar{
    padding-left: initial;
    padding-right: 20px;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .topBarExp {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 5px;
  }

  .topBar > .buscador {
    width: 30%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
  }
  .topBar > .buscador > button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(243, 249, 253);
    border: none;
    color: rgb(78, 78, 78);
    margin-left: 10px;
  }

  .topBar .iconT {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0;
    height: 100%;
  }
  .topBar > .buscador.expanded {
    width: 100%;
  }
  
  .topBar .iconT.hidden {
    display: none;
 
  }
  
.topBar  .iconT > .perfil{
 
  width: 30px;
  background-color: rgb(0, 0, 0);
  height:30px;
  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;

}
.topBar  .iconT {

  font-size: 20px;

}
}
 
@media screen and (max-width: 475px) {
  .topBar {
    padding-left: 50px;
    width: 100%;
  }
  .topBarExp {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 5px;
  }
  .topBar > .buscador.expanded {
    width: 100%;
  }
  
  .topBar .iconT.hidden {
    display: none;
  }
}