*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.headerL{grid-area: header;}
.centroL{grid-area: centro;}
.footerl{grid-area: footer;}
.grid-containerL {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  94% 6%;
    grid-template-areas: 
      'header centro'
      'footer footer ';
    width: 100%;
    height: 660px;
    background: linear-gradient(#5698ea, #6d889a,rgb(82, 79, 79),rgb(23, 22, 22) ) ;
    font-family: Arial, Helvetica, sans-serif
     
  }
  .button-active {
    background: linear-gradient(#5698ea, #6d889a,rgb(217, 217, 217),rgb(210, 210, 210,0.5) ) ;
    font-weight: bolder;
    font-size: 17px;
}
 
  .form-slide-animation {
    animation: slideFromTop 1s ease-out forwards;
  }
  @keyframes slideFromTop {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fondo {
    0% {
        background-position: 0 40%;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 40%;
    }
  }
  @keyframes fondo2 {
    0% {
        background-position: 0 0;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
  
  }
  
.headerL{
    position: relative;
    width:50%;
    height: auto;
   
}



.logoP span:nth-child(1){
    position: relative;
    color: black;
    font-size: 95px;
    font-weight: 900;
    text-shadow: white -5px 0px;
    top:-5px;
    left: -10px;
}
.logoP span:nth-child(2){
    font-weight: 900;
    position: relative;
    color: black    ;
    font-size: 95px;
    top:30px;
    left:-30px;
    text-shadow: white -5px 0px;
}
.logoP span:nth-child(3){
    font-weight: 900;
    position: relative;
    color: black;
    font-size: 95px;
    top:65px;
    left: -140px;
    text-shadow: white -5px 0px;
}

.logoP > p > .primero{
     
    margin-left:40px;
 
}

.logoP > p{
    position: relative;
    left: -50px;
    top:-50px;
    letter-spacing: 10px;
    color:white;
}
.logoP{
    position: relative;
   
    font-family: 'DM Serif Display', serif;
    padding-left: 90px;
    width: 50%;
    height:auto ;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}



.centroL{

    width: 100%;
    height: auto;
}

.centroL > div  {
    position: absolute;
    width: 40%;
    height:auto;
    border-radius: 20px;
    background-color: rgb(0, 0, 0,0.7);
    top:50%;
    left:70%;
    transform: translate( -50%,-50%);
    padding: 40px;
    line-height: 200%;
    color:white;
    border: 3px solid transparent;
    background: linear-gradient(to bottom,#3c5a7f, #040404, #3d7bbd ) ;
    background-size: 100%  300%;
    

    animation: fondo 8s ease-in-out infinite;
   
    transition:box-shadow 3s ease;
}

.centroL > div:hover{
    box-shadow: 1px  1px   16px   16px rgb(3, 3, 3);
   
}





.centroL label {
    margin-top: 10px;
}

.centroL > div input , .centroL > div label  {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 30px;
 
}
.centroL > div input  {
    padding: 10px;
    border: 3px solid white;
}
.centroL > div button{
    width: 50%;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    border: 3px solid white;
    font-family: 'DM Serif Display', serif;
    
    
}

.centroL > div button:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
    color: white;
    font-weight: 900;
}

.centroL > div input:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
    color: white;
}
.centroL > div input:last-child{
    height: auto;
    font-weight: 900;
    font-family: 'DM Serif Display', serif;

}

.footerL{
    width: 100%;
    height: auto;
    padding: 10px;
    background: linear-gradient(to bottom,#3c5a7f, #040404, #3d7bbd ) ;
    background-size: 100%  200%;
   

    animation: fondo2 8s ease-in-out infinite;
   
     
     
}
.footerL > div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
     
}

.footerL > div > a{
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    width: 100%;
    height:30px;
    justify-content: center;
    color: white;
}

.footerL > div > a:hover{
    background: linear-gradient(to bottom, rgb(236, 236, 236) 0%, transparent 100%);
     
    font-weight: 900;
     
}

@media screen and (max-width:900px) {
       
    .grid-containerL{
        width: 100%;
        height:900px;
        grid-template-rows: 80% 20%;
    }
    .headerL{
        width: 20%;
        height: auto;
    }
    .headerL > img   {
 
        transform: scale(1.7) translateY(-80px);
        width: 100%;
        height: auto;
        transition: width 1s ease-in-out;
    
    }

    .centroL > div {
        width: 50%;
        height: auto;
        transition: width 1s ease-in-out , box-shadow 3s linear;
    }
    .footerL{
        width: 100%;
    }
    .footerL > div {
       display: block;
        width: 100%;

    }
}

@media screen and (max-width:500px) {

    .grid-containerL{
        
        width: 100%;
        height:1000px;
        grid-template-areas: 
        'header'
        'centro'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 30% 65% 16%;
    }  
    .headerL{
       
        width: 100%;
        height: auto;
   
    }
    .headerL > .logoP{
        position: relative;
        width: 50%;
        height: auto;
        top:200px;
        left:45%;
        transform: translate( -50%,-50%);
      
    }
    .centroL{
        width: 100%;
        height: auto;
    }
    .centroL > div {
        position: relative;
        width: 80%;
        height: auto;
        top:50%;
    left:50%;
    transform: translate( -50%,-50%);
    }
}

